.todoContainer{
    border-bottom:1px solid rgb(204, 199, 199);
    height: 40px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    &:hover{
        background-color: rgb(224, 246, 250);
    }
    label{
        width: 100%;
        cursor: pointer;
    }
    span{
        width: 200px;
        margin-left: 14px;
    }
    input{
        width: 12px;
        height: 12px;
    }
    button{
        cursor: pointer;
    }
    
}
.todo{
    color:black;
}
.checked{
    color:rgb(202, 194, 194);
    font-style: italic;
    text-decoration:line-through;
}

.done{
    background-color: rgb(213, 241, 213);
    &:hover{
        background-color: rgb(213, 241, 213);
    }
}